# Analysis Plan

For this portion of the project we will be going deeper and begin breaking up the data and massaging it so I can further narrow down my data

In [2]:
import pandas as pd
import seaborn
from matplotlib import pyplot as plt
import numpy as np

we will be download various tools that will help us disect the CSV file even further

In [3]:
Movies = pd.read_csv("C:/Users/Alan/Desktop/MovieDataSet/movies_metadata.csv", encoding = 'utf-8')

C:\Users\Alan\anaconda3\envs\trial\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
Movies.keys()

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

After beaking down the file we can see what keys are here so we may be able to go in depth and begin putting the data into plots

In [8]:
Movies_df = pd.DataFrame(Movies['popularity'])
Movies_df

      popularity
0      21.946943
1      17.015539
2        11.7129
3       3.859495
4       8.387519
...          ...
45461   0.072051
45462   0.178241
45463   0.903007
45464   0.003503
45465   0.163015

[45466 rows x 1 columns]

We want to break things down into a Dataframe which will allow us to clean up our data and only pull the necessary data from whiich we need.to further continue our analysis plan, I may keep movies that derive from english only. even including a possible Ttest